<h1> Eat, Do, & Drink in <%=@area[:name]%> </h1>

<!-- Table May Not Function Accurately... (RikiCount & Comments Need To Be Looped Somehow...) -->
<table class="table table-striped">
 <thead class="thead-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">RikiCount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><% for location in @locations %>
        <p><a href="/locations/<%= location[:id] %>"><%= location[:name] %></a></p>
    <% end %></td>
      <td><% for location in @locations %>
        <p><%= location [:description] %></p>
    <% end %></td>
      <td><%= @average %></td>
    </tr>
  </tbody>
</table>

<!-- Form for Review Submission -->
<h1> Your spot not here? Add it! </h1>
<form action="/locations/submit" method="post">
  <div class="form-group">
    <label for="exampleFormControlSelect1">Neighborhood</label>
    <select class="form-control" input type = "integer" id="exampleFormControlSelect1" name="areas_id">
      <option value="1">Evanston</option>
      <option value="2">Lincoln Park</option>
      <option value="3">Old Town</option>
      <option value="4">River North</option>
      <option value="5">West Loop</option>
      <option value="6">Wicker Park</option>
    </select>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" name="name">
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" class="form-control" name="address">
  </div>
  <div class="form-group">
    <label>Description (Keep it Short!)</label>
    <input type="text" class="form-control" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
