<h1> Eat, Do, & Drink in <%=@area[:name]%> </h1>

<!-- Table May Not Function Accurately... (RikiCount & Comments Need To Be Looped Somehow...) -->
<table class="table table-striped">
 <thead class="thead-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">RikiCount</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><% for location in @locations %>
    <p><a href="/locations/<%= location[:id] %>"><%= location[:name] %></a></p>
<% end %></td>
      <td><% for location in @locations %>
    <p><a href="/locations/<%= location[:id] %>"> <%= location [:description] %></a></p>
<% end %></td>
      <td>82%</td>
      <td>Insert Fake Comments...</td>
    </tr>
  </tbody>
</table>

<!-- Form for Review Submission -->
<form action = "/locations/submit" method = "post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Neighborhood</label>
    <select class="form-control" input type = "integer" id="exampleFormControlSelect1" placeholder = "Enter neighborhood" name = "areas_id">
      <option>Evanston</option>
      <option>Lincoln Park</option>
      <option>Old Town</option>
      <option>River North</option>
      <option>West Loop</option>
      <option>Wicker Park</option>
      </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Insert name" name = "name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Address</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="123 Chicago Ave" name = "address" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description (Keep It Short!)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" type="string" name="description"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>