<h1>
  Name: <%= @location[:name] %>
</h1>
<h4>
  Address: <%= @location[:address] %>
</h4>
<h4>
  Description: <%= @location[:description] %>
</h4>
<h4>
    <em>
        Riki-Score: 15 (WIP)
    </em>
</h4>
<p></p>

<h1>Most Recent Rikis</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Purpose</th>
      <th scope="col">Rating</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
        <p><% for riki in @rikis %><%= @users_table.where(id: riki[:users_id]).to_a[0][:name] %></p>
        <% end %></th>
      <td><p><% for riki in @rikis %><%= riki[:purpose] %></p>
        <% end %></td>
      <td><p><% for riki in @rikis %><%= riki[:rating] %></p>
        <% end %></td>
      <td><p><% for riki in @rikis %><%= riki[:comments] %></p>
        <% end %></td>
    </tr>
  </tbody>
</table>

<div>
      <p>
        <a href="/areas/<%= @location[:areas_id] %>" class="btn btn-primary">Go Back!</a>
      </p>
</div>

<h1>Submit a Riki!</h1>
<!-- Form for Review Submission -->
<form action = "/rikis/submit" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">User ID (Auto-Filled)</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Insert User ID" name="users_id" value="<%= @current_user[:id] %>" readonly>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Location ID (Auto-Filled)</label>
    <input type="string" class="form-control" id="exampleFormControlInput1" placeholder="Insert Location ID" name="locations_id" value="<%= @location[:id] %>" readonly>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Riki It! (Score 1-5)</label>
    <select class="form-control" input type="integer" id="exampleFormControlSelect1" name="rating">
      <option>5</option>
      <option>4</option>
      <option>3</option>
      <option>2</option>
      <option>1</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Eat, Drink, or Do?</label>
    <select class="form-control" id="exampleFormControlSelect1" name="purpose">
      <option>Eat</option>
      <option>Drink</option>
      <option>Do</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Review (Keep It Short!)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" type="string" name="comments"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>